@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}
/* --prefersdark */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.slick-prev:before,
.slick-next:before {
  color: #ff0000;      /* arrow color /
  font-size: 30px;     / arrow size */
}